{
  "presets": [
    "module:metro-react-native-babel-preset",
  ],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ]
    },
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}